.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
 }
  
.app-body {
  display: grid;
  grid: repeat(2, 1fr) / repeat(3, 1fr); 
  grid-auto-rows: 50px;
  column-gap: 10px;
}

body {
  margin: 0;
  padding: 0;
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: rgb(61, 59, 59);
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color:  rgb(61, 59, 59);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button {
  width: 50px;
  height: 30px;
  background-color: rgba(242, 18, 18, 0.855);
  color: white;
}

.buttonEdit {
  width: 50px;
  height: 30px;
  background-color: green;
  color: white;
}

.topUpContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 50px;
}

.topUpContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.topUpContainer button {
  background-color:  rgb(61, 59, 59);
  color: white;
}

.topUpContainer input {
  border: 2px solid  rgb(61, 59, 59);
}
  
 /* NAVBAR */
  
 .navbar {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
 }
 .navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
 }
  
 .navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }
 .navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
 }
  
 .navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
 }
  
 .navbar h2 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
  font-size: medium;
 }
  
 /* LOGIN */
  
 .loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
 }
  
 .loginContainer input,
 button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
 }
  
 .loginContainer button {
  background-color: black;
  color: white;
 }
  
 .loginContainer input {
  border: 2px solid black;
 }
  
 /* CREATE POST PAGE CSS */
  
 .createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid black;
  border-radius: 5px;
 }
  
 .formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
 }
  
 .formContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
 }
  
 .formContainer button:hover {
  cursor: pointer;
  background-color: black;
 }
  
 span {
  color: red;
 }